.App {
  margin: 10px 30px;
}
.header-font{
  color: #181818;
}

.subheader-font{
  color: #7F49E1
  ;
}

.borderBottom{
  border-bottom: solid 5px #5CB8E4;
}

.borderTop{
  border-top: solid 3px #5CB8E4;
}

label{
  color: #181818;
}

.buttonBackground{
  background-color: #7F49E1;
}

.tabBackground{
  background-color: #fff;
}

.background{
  background-color: #F2F2F2;
}

.main-dem{
  height: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
